<section id="section-{{ section.id }}" class="section-main-page">
  <div class="page-container">
    <h1 class="page-title">{{ section.settings.title }}</h1>
    {% if section.settings.use_page_description == true %}
        <div class="page-description">{{ page.content }}</div>
    {% else %}
      {% if section.settings.description != blank %}
        <div class="page-description">{{ section.settings.description }}</div>
      {% endif %}
    {% endif %}
    {% if section.settings.button_text != blank or section.settings.button_url != blank %}
      <a href="{{ section.settings.button_url }}" class="button button-primary" role="button">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main Page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Page Description"
    },
    {
      "type": "checkbox",
      "id": "use_page_description",
      "label": "Use Page Description",
      "default": true,
      "info": "If checked, the page description will be used instead of the section description set below."
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}