<style>
  .main-page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--layout-content-tight);
  }

  .main-page-content .page-title,
  .main-page-content .page-description {
    text-align: center;
    width: 100%;
  }

  .main-page-content .button {
    margin: 0 auto;
  }
</style>

<section id="section-{{ section.id }}" class="section-main-page">
  <div class="page-container">
    <div class="main-page-content">
      <h1 class="page-title">{{ section.settings.title }}</h1>
      
      {% if section.settings.use_page_content == true %}
          <div class="page-description mid-text">{{ page.content }}</div>
      {% else %}
        {% if section.settings.description %}
          <div class="page-description mid-text">{{ section.settings.description }}</div>
        {% endif %}
      {% endif %}
      {% if section.settings.button_text or section.settings.button_url %}
        <a href="{{ section.settings.button_url }}" class="button button-primary" data-action="trigger-hero-product" role="button">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Page Description"
    },
    {
      "type": "checkbox",
      "id": "use_page_content",
      "label": "Use Page Content",
      "default": true,
      "info": "If checked, the page content will be used instead of the description set below."
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}