{{ 'subscription.css' | asset_url | stylesheet_tag }}

<section id="subscriptionSection" class="section-subscription">
  <div class="page-container">
    {% if section.settings.title %}
      <h2 class="page-title subscription-title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="subscription-content">
        {% for block in section.blocks %}
          <div class="subscription-content-item">
            <div class="subscription-step-number">
              {{ forloop.index }}
            </div>
            {% if block.settings.subscription_step_content %}
              <p class="subscription-item-content mid-text">{{ block.settings.subscription_step_content }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if section.settings.button_text %}
      <a href="#heroProduct" class="button button-primary" data-action="trigger-hero-product" role="button">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
</section>

{% assign product = section.settings.product %}

{% if product %}
  <section id="heroProduct" class="section-hero-product" aria-hidden="true" hidden>
    <div class="page-container">
      <div class="hero-product-container">
        <div class="product-media">
          {{ product.featured_image | image_url: width: 800 | image_tag }}
        </div>

        <div class="product-details">
          <div class="product-detail-container">
            <h3 class="product-title h5">{{ product.title }}</h3>
            <div class="product-price">
              <span>from</span> {{ product.price_min | money }}          
            </div>
          </div>
          {% if product.description != blank %}
            <div class="product-description">{{ product.description }}</div>
          {% endif %}
          {% form 'product', product, id: 'product-add-form' %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

            {% if product.variants.size > 0 %}
              <fieldset>
                <legend class="product-variants-title">Select purchase option:</legend>
                <div class="product-variants">
                  {% for variant in product.variants %}
                    {% assign variant_description = variant.metafields.custom.description %}

                    <div class="product-variant" data-variant-price="{{ variant.price | money_without_currency }}">
                      <input
                        {% unless variant.available %}disabled{% endunless %}
                        type="radio"
                        id="variant-{{ variant.id }}"
                        name="id"
                        value="{{ variant.id }}"
                        product-name="{{ variant.title }}"
                        aria-labelledby="variant-title-{{ variant.id }} variant-description-{{ variant.id }}"
                        {% unless variant.available %}aria-disabled="true"{% endunless %}
                        tabindex="{% if variant.available %}0{% else %}-1{% endif %}"
                        {% if forloop.index == 2 and variant.available %}checked aria-checked="true"{% endif %}>

                      <label for="variant-{{ variant.id }}">
                        <div class="variant-details">
                          <div class="variant-title" id="variant-title-{{ variant.id }}">{{ variant.title }}</div>
                          {% if variant_description %}
                            <div class="variant-description" id="variant-description-{{ variant.id }}">{{ variant_description }}</div>
                          {% endif %}
                        </div>
                        <div class="variant-price">
                          {% if variant.available %}
                            {{ variant.price | money }}
                          {% else %}
                            Sold out
                          {% endif %}
                        </div>
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
            {% endif %}
            
            {% if product.available %}
              <button type="submit" class="button button-primary">
                <span class="button-text-to-change">Add to Cart</span> - <span class="product-button-price">{{ product.price_min | money }}</span>
              </button>
            {% else %}
              <button type="button" class="button button-primary" disabled aria-label="This product is currently sold out. Please try again later.">Sold Out</button>
            {% endif %}
            </button>
          {% endform %}
        </div>
      </div>
    </div>
  </section>

  {{ 'subscription.js' | asset_url | script_tag }}
{% endif %}

{% schema %}
{
  "name": "Subscription",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Subscription"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    }
  ],
  "blocks": [
    {
      "type": "subscription-step",
      "name": "Subscription Step",
      "settings": [
        {
          "type": "text",
          "id": "subscription_step_content",
          "label": "Subscription Step Content"
        } 
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscription",
      "settings": {
        "title": "Subscription",
        "button_text": "Button Text"
      },
      "blocks": [
        {
          "type": "subscription-step",
          "settings": {
            "subscription_step_content": "Subscription Step Content"
          }
        },
        {
          "type": "subscription-step",
          "settings": {
            "subscription_step_content": "Subscription Step Content"
          }
        },
        {
          "type": "subscription-step",
          "settings": {
            "subscription_step_content": "Subscription Step Content"
          }
        }
      ]
    }
  ]
}
{% endschema %}